
{% extends 'polls/base.html' %}

{% block content %}
<script>
    function register(){
        if($('#reg_email').val() == ''){ 
            $('#error').html("Please enter an email."); 
            $('#reg_email').focus(); 
        }
        // else if($('#reg_username').val() == ''){ $('#error').html("Please enter a username."); $('#reg_username').focus(); }
        // else if($('#reg_username').val().indexOf('@') > -1){ $('#error').html("Username should not include @ character."); $('#reg_username').focus(); }
        else if($('#reg_password').val() == ''){ 
            $('#error').html("Please enter a password."); 
            $('#reg_password').focus(); 
        }
        else if($('#confirm_password').val() == ''){ 
            $('#error').html("Please confirm your password."); 
            $('#confirm_password').focus(); 
        }
        else if($('#reg_password').val() != $('#confirm_password').val()){ 
            $('#error').html("Password and Confirm Password are not matching."); 
            $('#reg_password').focus(); 
        }
        else{ 
            $('#user_form').submit(); 
        }
    }
</script>
<div class="col-md-6 col-md-offset-3" align="center" style="padding: 60px 20px;">
    <h3>Log in or Register with OPRA</h3>
    <br/>

    <!-- <a title="Google" href="/accounts/google/login/?process=login">Sign up with Google</a> -->
    <form method="post" action="/accounts/google/login/?next={{ request.GET.next }}">
        <input type="hidden">
        {% csrf_token %}
        <button type="submit" class="btn btn-dark">
            Authenticate via Google
        </button>
    </form>
</div>

{% endblock %}