annotated-types==0.7.0
asgiref==3.8.1
bcrypt==4.2.0
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
contourpy==1.2.1
cryptography==43.0.0
cycler==0.12.1
Django==4.2.7
django-allauth==64.0.0
django-cors-headers==4.4.0
django-environ==0.11.2
django-guardian==2.4.0
django-mathfilters==1.0.0
django-mobile==0.7.0
django-qr-code==4.1.0
fonttools==4.53.1
idna==3.7
kiwisolver==1.4.5
matplotlib==3.9.1.post1
networkx==3.3
numpy==2.0.1
packaging==24.1
pillow==10.4.0
prefpy==0.8.1
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
PyJWT==2.9.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
requests==2.32.3
scipy==1.14.0
segno==1.6.1
setuptools==72.1.0
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.2
wheel==0.43.0
whitenoise==6.7.0
