{% load mathfilters %}
<script>

</script>

<div id="budgetUI" {% if request.flavour == "mobile" %}style="padding:0.4em;" {% endif %}>
    <!-- This is the voting form. Submit results through a voting function -->
    <form id="budget" {% if request.user.username == "" %} action="{% url 'polls:anonymousvote' question.id %}" {% else %} action="{% url 'polls:vote' question.id %}" {% endif %} method="post" autocomplete="off">

        <div class="row">
            {% csrf_token %}
            <!-- If this user isn't logged in and hasn't voted before -->
            {% if request.user.username == "" and 'anonymousid' not in request.session %}
            <div class="col-md-12" style="clear:right; ">
                <h4>Your name (optional)</h4>
                <input type="text" size="50" class="form-control" style="width=50%; clear:right;" name="anonymousname"/>
            </div>
            {% endif %}

            <div class="col-md-12">

                <!-- Panel for your preferences -->
                <div class="panel panel-default" >
				{% if request.flavour == "mobile" %}
				<div class = "row col-xs-12" style="padding:0%;margin:0%;margin-bottom: 4%;">
						<button id="submitbutton-slider-BUI" type="submit" onclick="return checkSliderSum();" class="submitbutton reset-button-mobile" style = "height:2.7em;padding:0%;margin:0%;background:darkgreen;">
                            <span class="glyphicon glyphicon-upload" style="font-size:140%;color:white;margin:0%;">Submit</span>
                        </button> 
                </div>
				{% endif %}
                    <!-- Your preferences header -->
                    <div class="panel-heading" >
                        <h4>Your preferences:
                            {% include "polls/voteOptions/_courses_dropdown.html" %}
                            {% if not request.flavour == "mobile" %}
                            <!-- <button id="submitbutton-slider-BUI" type="submit" onclick="return checkSliderSum();" class="submitbutton btn btn-success">
                                Submit
                            </button> -->
                            <button id ="submitbutton-slider-BUI" type="submit" onclick="return checkSliderSum();" 
                            class = "submit_button" style="float: right; margin-left: 10px;" > Submit </button>
                            <button id="submitting-slider-BUI" type="button" class="submitting btn btn-default" style="visibility:hidden;position:absolute;z-index:1;">
                                Submitting...
                            </button>
                            {% endif %}
                            <input type="hidden" id="pref_order" class="pref_order" name="pref_order" value=""/>
                            <input type="hidden" id="record_data" class="record_data" name="record_data" value=""/>

                            <div class="pull-right">
                            {% if messages %}
                                {% for message in messages %}
                                <span id="successMessage" {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                                    {{ message }}
                                </span>
                                {% endfor %}
                            {% endif %}
                            </div>

                        </h4>
                    </div> <!-- end of header -->

                    <!-- Your preferences main panel -->
                    <div class="panel-body" >
                        <ul id="slidersBUI" >
                            {% for item in items %}
                                <li class="slider_item" id="item{{ item.item_text }}" alt="{{forloop.counter}}" type="{{ forloop.counter }}">
                                    <!-- Display image (uploaded) -->
                                    {% if item.image %}
                                        <img class="item" src='{{ item.image.url }}' style="margin: 8px;"/>
                                    {% endif %}
                                    <!-- Display image (external URL) -->
                                    {% if item.imageURL != Null %}
                                        <img class="item" src='{{ item.imageURL }}' style="margin: 8px;"/>
                                    {% endif %}
                                    <!-- Display option text -->
                                    <strong>{{ item.item_text }}</strong> : 
									{% if item.item_description %}
                                        <div style="display:inline-block;"><span class="glyphicon glyphicon-info-sign pull-right" data-toggle="tooltip" data-placement="top" title="{{item.item_description}}" data-title="Meddelanden" >
                                        </span></div>
                                    {% endif %}
                                    <!-- <div id="scoreSlideBUI{{forloop.counter}}">0</div>
                                    <input type="hidden" id ="scoreSlideBUI{{forloop.counter}}" value ="0"></input> -->
                                    <!-- Display tooltip for option description -->
                                    
                                    <p>Value: <span id="sliderValue{{ forloop.counter }}">0</span></p>
                                    <div class="slider_div">
                                        <input type="range" min="0" max="100" value="0" class="slide_BUI" id="slideBUI{{ forloop.counter }}" data-type = "{{ forloop.counter }}">
                                    </div>
                                </li>
								<hr/>
                            {% endfor %}
                            <div id="scoreSlideBUIshowTotalDiv" style="
                                display: flex;
                            ">
                                Total: <div id="scoreSlideBUICurrTotal">0</div>
                                <div id="scoreSlideBUITotal"></div>
                            </div>
                        </ul> <!-- end of main panel (left-sortable) -->
                    </div>
                </div>
            </div>
        </div>

        {% include "polls/voteOptions/_comment_section.html" %}
    </form>
</div>

<style>



</style>

<script>
        const BUDGET = 100;
        document.addEventListener("DOMContentLoaded", function() {
        // Initialize sliders
        const sliders = document.querySelectorAll('.slide_BUI');
        document.getElementById("scoreSlideBUITotal").innerHTML = "/"+BUDGET;

        sliders.forEach(function(slider) {
            slider.addEventListener('input', function() {
                updateSliders(this);
            });
        });

        function updateSliders(currentSlider) {
            // Calculate the sum of all slider values
            const sum = computeSliderTotal(sliders)

            // Check if the sum is less than or equal to 100
            if (sum <= BUDGET) {
                // Allow the current slider to be moved
                var id = currentSlider.id.toString(); 
                document.getElementById("sliderValue".concat(id[id.length-1])).innerHTML = currentSlider.value;
                setSliderTotal(sliders);
            } else {
                // Prevent the current slider from being moved if the sum is more than 100
                currentSlider.value = parseInt(currentSlider.value) - (sum - BUDGET);
            }
        }
    });

    function computeSliderTotal(sliders) {
        const sum = Array.from(sliders).reduce(function(acc, slider) {
                return acc + parseInt(slider.value);
            }, 0);
        // document.getElementById("submitbutton-slider-BUI").disabled = false;
        return sum;
    }
    
    function checkSliderSum() {
        sliders = document.querySelectorAll('.slide_BUI');
        var total = computeSliderTotal(sliders);
        if(total!=BUDGET){
            alert("The sum of all the preferences should be equal to "+BUDGET+". ");
            return false;
        } else {
            VoteUtil.submitPref();    
            return true;
        }
    }
    
    function setSliderTotal(sliders){
    var total = computeSliderTotal(sliders);
    if(total<=BUDGET) {
        document.getElementById("scoreSlideBUICurrTotal").innerHTML = total.toString();
    } else if(document.getElementById("scoreSlideBUICurrTotal").innerHTML<=BUDGET && total>=BUDGET){
        document.getElementById("scoreSlideBUICurrTotal").innerHTML = BUDGET.toString();
    }
}
    $(window).load(function(){
        var original_order = [];
        var t = 1;
        {% if currentSelection %}
            {% for s in currentSelection %}
                {% if s %}
                    var inner = [];
                    {% for selection in s %}
                        inner.push(t);
                        t = t + 1;
                    {% endfor %}
                    original_order.push(inner);
                {% endif %}
            {% endfor %}
        {% endif %}
        
        {% if currentSelection == None %}
            {% for item in items %}
                original_order.push([t]);
                t = t + 1;
            {% endfor %}
        {% else %}

            {% if unrankedCandidates %}
                {% for item in unrankedCandidates %}
                    original_order.push([t]);
                    t = t + 1;
                {% endfor %}
            {% endif %}
        {% endif %}
        //sliderSort(original_order);
        sliderBUIZeroSort(original_order);
        order1 = JSON.stringify(dictSlideStar('slide_BUI'));
    });
</script>