{% load mathfilters %}
<div id="listUISection" {% if request.flavour == "mobile" %}style="padding:0.4em;" {% endif %}>
    <!-- This is the voting form. Submit results through a voting function -->
    <form id="{% if num == 1 %}yesNo{% else %}single{% endif %}" {% if request.user.username == "" %} action="{% url 'mock_election:anonymousvote' question.id %}" {% else %} action="{% url 'mock_election:vote' question.id %}" {% endif %} method="post">
        <div class="row">
            {% csrf_token %}
            <!-- If this user isn't logged in and hasn't voted before -->
            {% if request.user.username == "" and 'anonymousid' not in request.session %}
            <div class="col-md-12" style="clear:right; ">
                <h4>Your name (optional)</h4>
                <input type="text" size="50" class="form-control" style="width=50%; clear:right;" name="anonymousname"/>
            </div>
            {% endif %}

            <div class="col-md-12">

                <!-- Panel for your preferences -->
                <div class="panel panel-default" >
				{% if request.flavour == "mobile" %}
				<div class = "row col-xs-12" style="padding:0%;margin:0%;margin-bottom: 4%;">
						<button id="submitbutton-LUI" type="submit" 
                        onclick="return checkForValidInput();" 
                        class="submitbutton reset-button-mobile" 
                        style = "height:2.7em;padding:0%;margin:0%;background:darkgreen;">
                            <span class="glyphicon glyphicon-upload" style="font-size:140%;color:white;margin:0%;">Submit</span>
                        </button> 
                </div>
				{% endif %}
                    <!-- Your preferences header -->
                    <div class="panel-heading" >
                        <h4>Your preferences:
                            {% if not request.flavour == "mobile" %}
                                <button id="submitbutton-LUI" type="submit" 
                                onclick="return checkForValidInput();" 
                                class = "submit_button"
                                style="float: right; margin-left: 10px;">
                                    Submit
                                </button>
                                <button id="submitting-LUI" type="button" class="submitting btn btn-default" style="visibility:hidden;position:absolute;z-index:1;">
                                    Submitting...
                                </button>
                            {% endif %}
                            <input type="hidden" id="pref_order" class="pref_order" name="pref_order" value=""/>
                            <input type="hidden" id="record_data" class="record_data" name="record_data" value=""/>

                            <div class="pull-right">
                                {% if messages %}
                                    {% for message in messages %}
                                        <span id="successMessage" {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                                            {{ message }}
                                        </span>
                                    {% endfor %}
                                {% endif %}
							</div>

                        </h4>
                    </div> <!-- end of header -->

                    <!-- Your preferences main panel -->
                    <div class="panel-body" >
                        <ul id="ListUIList">
                        <!-- The user hasn't voted on this poll yet -->
                        {% for item in items %}
                        <div>
                            <!-- Display option text -->
                                {% if item.image %}
                                    <img class="item" src='{{ item.image.url }}' style="margin: 8px;"/>
                                {% endif %}
                                    <!-- Display image (external URL) -->
                                {% if item.imageURL != Null %}
                                    <img class="item" src='{{ item.imageURL }}' style="margin: 8px;"/>
                                {% endif %}
                                <!-- Display option text -->
                                <strong>{{ item.item_text }}</strong> : 
                                {% if item.item_description %}
                                    <div style="display:inline-block;"><span class="glyphicon glyphicon-info-sign pull-right" data-toggle="tooltip" data-placement="top" title="{{item.item_description}}" data-title="Meddelanden" >
                                    </span></div>
                                {% endif %}
                            <div style="display: flex;">
                                <input class = "list_ui_pref_box" data-option="item{{ item.item_text }}" type="text"
                                id="item{{ item.item_text }}" type="{{ forloop.counter }}" 
                                style="width: 80%;" onkeyup="setTotal()" value="0"></input>
                                <div style="display:flex; width: 15%; margin-left: 10px;">
                                    <!-- <div id="currSliderScore{{ forloop.counter }}">0</div> -->
                                    <div id="slash{{ forloop.counter }}"> / </div>
                                    <div id="currSliderTotal{{ forloop.counter }}">100</div>
                                </div>
                            </div>
                        </div>
                            <!-- <label class="checkbox" id="item{{ item.item_text }}" type="{{ forloop.counter }}" >
                              <input type="checkbox" style="display:none">
                              <span class="glyphicon" aria-hidden="true"></span> -->
                                <!-- Display image (uploaded) -->
                                
                                <!-- Display tooltip for option description -->
                                <!-- {% if item.item_description %}
                                    <span class="glyphicon glyphicon-info-sign pull-right" data-toggle="tooltip" data-placement="top" title="{{item.item_description}}" data-title="Meddelanden">
                                    </span>
                                {% endif %}
                            </label> -->
                        {% endfor %}
                        <div id="scoreListUIshowTotalDiv" style="
                                display: flex;
                            ">
                                Total: <div id="scoreSlideListUICurrTotal">0</div>
                                <div id="scoreSlideListUITotal">/100</div>
                            </div>
                        </ul> <!-- end of main panel (left-sortable) -->
                    </div>
                </div>
            </div>
        </div>

        {% include "mock_election/voteOptions/_comment_section.html" %}
    </form>
</div>
<script>
        // setTimeout(()=>{
        //     document.getElementById("submitbutton-LUI").setAttribute("disabled","disabled");
        // }, 2000);
        var list = '#ListUIList';
        var n = $(list).children().length;
        var arr=[];
        for(var i=0; i<n-1; i++){
            arr.push($($($(list).children()[i]).children('div')).children('input')[0]);
        }
        // arr = $(list).children();
        $.each(arr, function(index) {
            this.addEventListener('input', function(event) {
            // Get the entered text
            var enteredText = event.target.value;
            // document.getElementById("submitbutton-LUI").setAttribute("disabled","disabled");

            // Validate if the entered text is numeric
            if (!isNumeric(enteredText)) {
                event.target.value = '';
            } else {
                var curr_total = computeTotal();
                if (curr_total > 100) {
                    event.target.value = enteredText.slice(0,enteredText.length-1);
                }
                if(curr_total <= 100) setMaxValRange(curr_total);
                // var curr_slider_score = document.getElementById("currSliderScore".concat((index+1).toString()));
                // curr_slider_score.innerHTML = event.target.value;
                document.getElementById("currSliderTotal".concat((index+1).toString())).style.display = "none";
                document.getElementById("slash".concat((index+1).toString())).style.display = "none";
                // if(curr_total == 100) {
                //     document.getElementById("submitbutton-LUI").removeAttribute("disabled");
                // }
            }
        });
        });


function setMaxValRange(curr_total){
    var list = '#ListUIList';
        var n = $(list).children().length;
        for(var i=0; i<n-1; i++){
            document.getElementById("currSliderTotal".concat((i+1).toString())).innerHTML = 100 - curr_total;
        }
}


    function computeTotal() {
        var list = '#ListUIList';
        var n = $(list).children().length;
        var arr=[];
        for(var i=0; i<n-1; i++){
            arr.push($($($(list).children()[i]).children('div')).children('input')[0]);
        }
        var values = [];
        var sum = 0;
        $.each(arr, function() {
            var inputValue = $(this).val().toString();
            values.push(parseInt(inputValue));
            if(!isNaN(inputValue) && inputValue!=="") sum += parseInt(inputValue)
        });
        return sum;
    }

    function setTotal() {
        var total = computeTotal();
        if(total<=100) document.getElementById('scoreSlideListUICurrTotal').innerHTML = total.toString();
    }

    function checkForValidInput(){
        var total = computeTotal();
        if(total!=100){
            alert("The sum of all the preferences should be equal to 100.");
            return false;
        } else {
            VoteUtil.submitPref();  
            return true;  
        }
    }
</script>
<script>
    $(window).load(function(){

        var original_order = [];
        var t = 1;
        {% if currentSelection %}
            {% for s in currentSelection %}
                {% if s %}
                    var inner = [];
                    {% for selection in s %}
                        inner.push(t);
                        t = t + 1;
                    {% endfor %}
                    original_order.push(inner);
                {% endif %}
            {% endfor %}
        {% endif %}
        
        {% if currentSelection == None %}
            {% for item in items %}
                original_order.push([t]);
                t = t + 1;
            {% endfor %}
        {% else %}

            {% if unrankedCandidates %}
                {% for item in unrankedCandidates %}
                    original_order.push([t]);
                    t = t + 1;
                {% endfor %}
            {% endif %}
        {% endif %}
        yesNoSort(5,original_order);
	    var el = document.getElementsByClassName('checkbox');
	    for (var i=0; i<el.length; i++) {
	    el[i].addEventListener('click', function(event) {
		    if (this === event.target) {
			    onCheckEvent(this);
			  }
		    else {
			    event.stopPropagation();
			    select(this);
			    return false;
		    }
	    }, false);
	    }
    });
function onCheckEvent(checkbox) {
	//console.log("allow ties?", allowTies);
	if (!allowTies && !$(checkbox).children()[0].checked){
                    var checkboxes = document.getElementsByClassName('checkbox');
			    for (var i=0; i<checkboxes.length; ++i) {
				   if ($(checkboxes[i]).children()[0].checked){
					    //console.log("should uncheck!");
					    $(checkboxes[i]).children()[0].checked = false;
					    select(checkboxes[i]);
				    }
                            }
	}
                    select(checkbox);
}
</script>
