
{% for tier in currentSelection %}
    {% if tier.0 %}
    <div class="btn btn-default disabled">
        {% if question.question_type == 1  %}
            ({{ forloop.counter }})
            {% for item in tier %}
                <span class="btn btn-default disabled">
                {{ item }}
                </span>
            {% endfor %}
        
        {% elif question.question_type == 2 %}
        ({{ tier.0 }})
            {% for item in tier %}
                {% if not forloop.first %}
                    <span class="btn btn-default disabled">
                    {{ item }}
                    </span>
                {% endif %}
            {% endfor %}
        {% endif %}

    </div>
    {% endif %}
{% endfor %}

{% if response.comment %}
    <p>Comment: {{response.comment}}</p>
{% endif %}
<br />