{% load allocation_extra %}
<form class="form-group" method="post" action="{% url 'allocation:setPollingSettings' question.id %}" align="center">
    {% csrf_token %}

    <label for="pollpreferences">Select an allocation method to calculate result</label>
    <select id="pollpreferences" name="pollpreferences" class="form-control"
        {% if question.status != 1 %} disabled {% endif %}>
        {% for item in alloc_methods %}
        <option value="{{ forloop.counter }}"
            {% if question.poll_algorithm == forloop.counter %} selected {% endif %}>
            {{ item }}
        </option>
        {% endfor %}
    </select>
    <br />

    {% if question.poll_algorithm == 3 %}
    <span class="btn btn-group">
        {% for voter in question.allocationvoter_set.all %}
        <span class="btn btn-default">{{ voter.user }}</span>
        {% endfor %}
    </span>
    {% if question.status == 1 or question.status == 2 %}
        <a href="{% url 'allocation:viewAllocationOrder' question.id %}" class="btn btn-dark" role="button">
            Set Allocation Order
        </a>
        <br />
    {% endif %}
    {% endif %}

    <fieldset class="form-group">
        <label>Allocation algorithms to show results</label>
        <div id="visible">
            <label class="checkbox-inline">
                <input id="round_robin_alloc" type="checkbox" value="1" name="alloc_algorithms"
                    {% if question.alloc_algorithms|bitwise_and:1 != 0 %} checked {% endif %} disabled>
                Round Robin
            </label>
            <label class="checkbox-inline">
                <input id="mnw_alloc" type="checkbox" value="2" name="alloc_algorithms"
                    {% if question.alloc_algorithms|bitwise_and:2 != 0 %} checked {% endif %}>
                Max Nash Welfare
            </label>
            <label class="checkbox-inline">
                <input id="market_alloc" type="checkbox" value="4" name="alloc_algorithms"
                    {% if question.alloc_algorithms|bitwise_and:4 != 0 %} checked {% endif %}>
                Market (EF1)
            </label>
            <label class="checkbox-inline">
                <input id="market_eq_alloc" type="checkbox" value="8" name="alloc_algorithms"
                    {% if question.alloc_algorithms|bitwise_and:8 != 0 %} checked {% endif %}>
                MarketEq (EQ1)
            </label>
            <label class="checkbox-inline">
                <input id="leximin_alloc" type="checkbox" value="16" name="alloc_algorithms"
                    {% if question.alloc_algorithms|bitwise_and:16 != 0 %} checked {% endif %}>
                Leximin
            </label>
            <label class="checkbox-inline">
                <input id="mnw_bin_alloc" type="checkbox" value="32" name="alloc_algorithms"
                    {% if question.alloc_algorithms|bitwise_and:32 != 0 %} checked {% endif %}>
                MNW Binary
            </label>
        </div>
    </fieldset>

    <br><br>
    <label>Information to show in allocation results page</label>
    <div>
        <strong>Preference View Options</strong><br>
        <label class="checkbox-inline">
            <input type="checkbox" value="1" name="alloc_res_tables"
                {% if selected_alloc_res_tables_sum|bitwise_and:1 != 0 %} checked {% endif %}> My Preferences
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="2" name="alloc_res_tables"
                {% if selected_alloc_res_tables_sum|bitwise_and:2 != 0 %} checked {% endif %}> All Preferences
        </label>
    </div>
    <div>
        <strong>Allocation View Options</strong><br>
        <label class="checkbox-inline">
            <input type="checkbox" value="4" name="alloc_res_tables"
                {% if selected_alloc_res_tables_sum|bitwise_and:4 != 0 %} checked {% endif %}> Items Bundle
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="8" name="alloc_res_tables"
                {% if selected_alloc_res_tables_sum|bitwise_and:8 != 0 %} checked {% endif %}> Allocation Result Table
        </label>
    </div>
    <div>
        <strong>Allocation Property View Options</strong><br>
        <label class="checkbox-inline">
            <input type="checkbox" value="16" name="alloc_res_tables"
                {% if selected_alloc_res_tables_sum|bitwise_and:16 != 0 %} checked {% endif %}> Envy Matrix
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="32" name="alloc_res_tables"
                {% if selected_alloc_res_tables_sum|bitwise_and:32 != 0 %} checked {% endif %}> Equitability
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="64" name="alloc_res_tables"
                {% if selected_alloc_res_tables_sum|bitwise_and:64 != 0 %} checked {% endif %}> Fractional Share
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="128" name="alloc_res_tables"
                {% if selected_alloc_res_tables_sum|bitwise_and:128 != 0 %} checked {% endif %}> Welfare
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="256" name="alloc_res_tables"
                {% if selected_alloc_res_tables_sum|bitwise_and:256 != 0 %} checked {% endif %}> Pareto Optimality
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="512" name="alloc_res_tables"
                {% if selected_alloc_res_tables_sum|bitwise_and:512 != 0 %} checked {% endif %}> First-choices
        </label>
    </div>

    <br />
    <input type="submit" value="Submit" class="btn btn-success">
</form>
