{% extends 'polls/base.html' %}
{% load static %}

{% block content %}
{% if question.question_owner == request.user %}
<div class="col-md-10 col-md-offset-1">
    <h2 align="center">Create a New Allocation</h2>
    <br/>
    <div class="steps" align="center">
        <p class="sameline">1. General <span class="glyphicon glyphicon-chevron-right"></span></p>
        <p class="sameline" style="color:grey;">2. Items <span class="glyphicon glyphicon-chevron-right"></span></p>
        <p class="sameline">3. Invite <span class="glyphicon glyphicon-chevron-right"></span> 4. Settings</p>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" style="width: 50%">
            <span class="sr-only">50% Complete</span>
        </div>
    </div>
    <br/>
    {% include 'allocation/_add_choice.html' %}
    <div class="col-md-6 col-md-offset-3" align="center">
        <a href="{% url 'allocation:AddStep3' question.id %}">
            <input type="submit" value="Next" class="btn btn-primary"/>
        </a>
    </div>
</div>
{% endif %}
{% endblock %}
