{% extends 'polls/base.html' %}
{% load allocation_extra %}

{% block content %}

<style>
    ul.ui-autocomplete {
        z-index: 1100;
    }
</style>
<script>
    function add_allocation_buttons(item) {
        $('#hidden-table').css('display', 'block');
        $('#search-results').html("");
        var va_mid = "<td style=\"vertical-align:middle\">";
        var title = "<td><a href=\"/allocations/" + item.id + "/pollinfo/\" data-toggle=\"tooltip\" data-placement=\"right\" title=\"Description: " + item.desc + "\">" + item.value + "</a></td>" + va_mid;
        if (item.status == 2 && item.voter) {
            title += "<a href=\"/allocations/" + item.id + "/\" class=\"btn btn-dark\" role=\"button\">Enter Preferences</a>";
        }
        if (item.status != 1 && item.status != 3) {
            title += "<a href=\"/allocations/" + item.id + "/allocate/results/\" class=\"btn btn-dark\" role=\"button\" target=\"_blank\">Current Results</a>";
        }
        title += "</td>";
        if (item.status == 1 && item.created) {
            title += va_mid + "<div class=\"start-icon\"><i class=\"fa fa-play\" aria-hidden=\"true\" data-toggle=\"modal\" data-target=\"#confirm-start" + item.id + "\"></i></div></td>";
        } else if (item.status == 2 && item.created) {
            title += "<td style=\"vertical-align:middle\"><div class=\"stop-icon pull-right\"><i class=\"fa fa-stop\" aria-hidden=\"true\" data-toggle=\"modal\" data-target=\"#confirm-stop" + item.id + "\"></i></div><div class=\"pause-icon pull-right\" style=\"position:relative; right:10%;\"><a href=\"/allocations/" + item.id + "/pause/\"><i class=\"fa fa-pause\" aria-hidden=\"true\"></i></a></div></td>";
        } else if (item.status == 3 && item.created) {
            title += "<td>Allocation Complete</td>";
        }
        $('#search-results').html(title);
    }

    $(function() {
        $("#poll-search").autocomplete({
            source: "{% url 'allocation:get_allocation_polls' %}",
            minLength: 2,
            select: function(event, ui) {
                add_allocation_buttons(ui.item);
            }
        });
    });
</script>

<!-- search bar -->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <label for="poll-search">Search: </label>
            <input type="text" class="form-control" id="poll-search">
            <div id="hidden-table" style="display:none;">
                <table style="width:100%" class="table">
                    <thead><tr><th colspan=2>Search results</th></tr></thead>
                    <tbody><tr id="search-results"></tr></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container" >
    <div name="created" class="panel panel-default">
        <div class="panel-body">
            <table style = "width:100%;" class="table" name="created">
                <thead>
                    <tr>
                        <th colspan=2>
                            <div>
                                Create a new Allocation instance:
                            </div>
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        <a href="{% url 'allocation:AddStep1' %}" style='font-size:100%;' class="btn btn-yellow">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Create New
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<!-- for created by you section -->
<div class="container" >
    <div name="created" class="panel panel-default">
        <div class="panel-body">
        <table style = "width:100%;" class="table" name="created">
            <thead>
                <tr>
                    <th colspan=2>
                        Allocation instance created by you ({{ polls_created|length }})
                    </th>
                    <th></th>
                </tr>
            </thead>

            {% for question in polls_created %}
                <tr>
                    <td>
                        <a href="{% url 'allocation:allocationinfo' question.id %}" data-toggle="tooltip" data-placement="right" title="Description: {%if question.question_desc %} {{question.question_desc}} {%else%} None. {%endif%}">{{ question.question_text }}</a>
                    </td>
                    <td style="vertical-align:middle">
                        {% if question.status == 2 %}
                            {% if request.user in question.question_voters.all %}
                                <a href="{% url 'allocation:detail' question.id %}" class ="btn btn-dark" role="button" >Enter Preferences</a>
                            {% endif %}
                        {% endif %}
                        {% if question.status != 1 and question.status != 3 %}
                            <a href="{% url 'allocation:allocate_results' question.id %}" class ="btn btn-dark" role="button" target="_blank" >Current Results</a>
                        {% endif %}
                    </td>
                    {% if question.status == 1 %}
                        <td style="vertical-align:middle">
                            <div class="start-icon">
                            <i class="fa fa-play" aria-hidden="true" data-toggle="modal" data-target="#confirm-start{{ question.id }}"></i>
                            </div>
                        </td>

                        <div class="modal fade" id="confirm-start{{ question.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        Confirm Start {{ question.question_text }}
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to start {{ question.question_text }}? Once started, you cannot modify the settings or remove users.
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{% url 'allocation:start' question.id %}">
                                            <button type="button" class="btn-large btn-success btn-ok">Yes</button>
                                        </a>
                                        <button type="button" class="btn-large btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elif question.status == 2 %}
                        <td style="vertical-align:middle">
                            <div class="stop-icon pull-right">
                            <i class="fa fa-stop" aria-hidden="true" data-toggle="modal" data-target="#confirm-stop{{ question.id }}"></i>
                            </div>
                            <div class="pause-icon pull-right" style="position:relative; right:10%;">
                            <a href="{% url 'allocation:pause' question.id %}"><i class="fa fa-pause" aria-hidden="true"></i></a>
                            </div>
                        </td>

                        <div class="modal fade" id="confirm-stop{{ question.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        Confirm Stop Allocation
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to stop this allocation? Once stopped, no more preferences can be changed.
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{% url 'allocation:stopAllocation' question.id %}">
                                            <button type="button" class="btn-large btn-ok btn-danger" style="font-size:100%;">Yes</button>
                                        </a>
                                        <button type="button" class="btn-large btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elif question.status == 3 %}
                        <td>
                            Allocation Complete
                            {% for order_item in question.allocationvoter_set.all %}
                                {% if order_item.response.allocation %}
                                    <br />{{ order_item.user.username }}: {{ order_item.response.allocation.item_text }}
                                {% endif %}
                            {% endfor %}
                            <a href="{% url 'allocation:allocate_results' question.id %}" >
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </a>
                        </td>
                    {% else %}
                        <td style="vertical-align:middle">
                            <div class="start-icon">
                                <a href="{% url 'allocation:resume' question.id %}"><i class="fa fa-play" aria-hidden="true"></i></a>
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        </div>
    </div><!-- end for created by you section-->

    <div name="participated" class="panel panel-default">
        <div class="panel-body">
        <table class="table" >
            <thead>
                <tr>
                    <th>
                        Participated in ({{ polls_participated|length }})
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            {% for question in polls_participated %}
            <tr>
                <td>
                    <a href="{% url 'allocation:allocationinfo' question.id %}" data-toggle="tooltip" data-placement="right" title="Description: {%if question.question_desc %} {{question.question_desc}} {%else%} None. {%endif%}">
                    {{ question.question_text }}
                    </a>
                </td>
                <td>
                    {% if question.status == 2 %}
                        <a href="{% url 'allocation:detail' question.id %}" class ="btn btn-dark" role="button">Enter Preferences</a>
                    {% endif %}
                    {% if question.status != 1 and question.status != 3 %}
                        <a href="{% url 'allocation:allocate_results' question.id %}" class ="btn btn-dark" role="button" target="_blank" >Current Results</a>
                    {% endif %}
                </td>
                {% if question.status == 1 %}
                    <td>Not started</td>
                {% elif question.status == 2 %}
                    <td>In session</td>
                {% elif question.status == 3 %}
                    <td>
                        Allocation Complete
                        {% for order_item in question.allocationvoter_set.all %}
                            {% if order_item.response.allocation %}
                                <br />{{ order_item.user.username }}: {{ order_item.response.allocation.item_text }}
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
        </table>
        </div><!-- end for participated in section-->
    </div>
</div>
{% endblock %}
