{% extends 'polls/base.html' %}
{% load poll_extra %}

{% block content %}
<div class="container">
  <!-- Participated (Allocation) -->
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>Participated in ({{ polls_participated|length }})</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        {% for question in polls_participated %}
          <tr>
            <td>
              <a href="{% url 'allocation:allocationinfo' question.id %}"
                 data-toggle="tooltip"
                 data-placement="right"
                 title="Description: {% if question.question_desc %}{{ question.question_desc }}{% else %}None.{% endif %}">
                {{ question.question_text }}
              </a>
            </td>

            <td>
              {% if question.status == 2 %}
                <!-- allocation in session: let them set preferences -->
                <a href="{% url 'allocation:detail' question.id %}" class="btn btn-dark" role="button">Enter Preferences</a>
              {% endif %}

              {% if question.status == 3 %}
                <!-- allocation finished: show results page -->
                <a href="{% url 'allocation:allocate_results' question.id %}" class="btn btn-dark" role="button" target="_blank">
                  Allocation Results
                </a>
              {% endif %}
            </td>

            <td>
              {% if question.status == 1 %}
                Not started
              {% elif question.status == 2 %}
                In session
              {% elif question.status == 3 %}
                Allocation complete
              {% endif %}
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3"><em>No allocations to show.</em></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
