{% extends 'polls/detail.html' %}

{% block extra_head %}
{{ block.super }}
<script>
// Override all vote form action URLs to use the allocation vote endpoint.
// The polls/voteOptions templates hardcode polls:vote; this corrects them at runtime.
$(document).ready(function() {
    var allocationVoteUrl = "{{ vote_url }}";
    if (allocationVoteUrl) {
        $('form').each(function() {
            var action = $(this).attr('action');
            // Only override forms that look like vote submission forms
            // (they contain /vote/ and the question id)
            if (action && action.indexOf('/vote/') !== -1) {
                $(this).attr('action', allocationVoteUrl);
            }
        });
    }
});
</script>
{% endblock %}
